@font-face {
    font-family: 'Mona Sans';
    src:
      url('../Mona-Sans.woff2') format('woff2 supports variations'),
      url('../Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/********************************************************************
GENERAL
********************************************************************/


/***** LAYOUT *****/


html{
    scroll-behavior: smooth;
    font-family: 'Inter';
}
  
body{
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;

    transition: 300ms all;
}

li{
    margin-bottom: 0.3em;
}

s{
    color: var(--darkgray);
}

hr{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 6rem;
    border: none;
    border-bottom: 1px solid var(--gray);
}

img{
    width: 100%;  
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    pointer-events: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

video{
    width: 100%;  
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


:root{
    /* color */
    --white: #FFFFFF; 
    --black: #121212;
    --lightgray: #F7F7F7;
    --gray: #E0E0E0; 
    --darkgray: #767676; 
    --turquoise: #319A87;

    --shopsmiles: #FF7F79;
    --goodnotes: #C7E4FF;
    --food52: #D1F2A8;
    --gigabrain: #FFE9F8;

    /* font-size */
    --small-text: 0.8125rem;

    /* transition */
    --transition: all 150ms ease-in-out;
    --transition-slow: all 300ms ease-in-out;
}



.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 24;
  color: var(--darkgray);
}


/***** NAVIGATION *****/

header{
    position: absolute;
    width: 100%;
    height: fit-content;
    inset: 0;
    z-index: 99;
}

nav{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 2.5em;

    display: flex;
    justify-content: space-between;
    
    font-weight: 700;
}

.nav-link{
    margin-left: 1em;
    text-decoration: none;
    padding-left: 1em;

    font-weight: 400;
}

.nav-link[aria-current="page"]{
    color: var(--darkgray);
}

footer{
    border: none;
    border-top: 1px solid var(--gray);
    padding-top: 5rem;

    max-width: 1000px;
    width: 95%;
    margin: 10rem auto 4rem auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 10rem;
    align-items: baseline;
}

.footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.footer-nav-col{
    display: flex;
    flex-direction: column;
}

footer ul{
    padding: 0;
    margin: 0;
}

footer li{
    list-style: none;
}

.footer-nav a,
#back-to-top{
    text-decoration: none;
}


@media (max-width: 600px){
    footer{
        column-gap: 4rem;
    }

    .footer-nav{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

/***** TEXT *****/

h1{
    font-family: 'Mona Sans';
    font-size: 3.3rem;

    /* font-size: clamp(3rem, 4.5vw, 3.3rem); */

    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h2{
    
    font-size: 1.8rem;
    font-weight: 500;
    margin: 3rem 0;
    line-height: 1.4;
    letter-spacing: -0.02em;

}

h3{
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--darkgray);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 4rem 0 2rem 0;
    padding-bottom: 0.5rem;

    border: none;
    border-bottom: 1px solid var(--gray);
}

h4{
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--darkgray);
    margin: 1rem 0;
}

p{
    margin: 1rem 0;
}

sup{
    color: var(--darkgray);
}

.caption{
    font-size: var(--small-text);
    font-style: italic;
    font-weight: 400;
    color: var(--darkgray);
    margin: 1.23em 0;
}

.pill{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--black);
    padding: 0.3em 1.2em;
    margin: 0.5rem 0.2rem 0.5rem 0;
    border-radius: 50px;
    background-color: #EEEEEE;
    /* background-color: rgba(0, 0, 0, 0.08); */
    align-self: center;
}

#desktop{
    display: none;
    margin-top: 4rem;
}

@media (max-width: 600px){
    #desktop{
        display: block;
    }
}

@media (max-width: 400px){
    h1{
        font-size: 3rem;
    }
}

/* text color */

.darkgray{
    color: var(--darkgray);
}

.black{
    color: var(--black);
}

.white{
    color: var(--white);
}

.turquoise{
    color: var(--turquoise);
}

.red{
    color: #B30000;
}

.blue{
    color: #1A55AD;
}

/* link */

a{
    color: var(--black);
    transition: 150ms;
}

a:hover, 
a:focus{
    color: rgba(0, 0, 0, 0.5);
    transition: 150ms;
}

.external-link::after{
    content: " ↗";
    font-family: system-ui
}


/***** CONTAINER *****/

.container-wide{
    max-width: 1000px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}


.container-medium{
    max-width: 800px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}

.container-small{
    max-width: 600px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}

.gray-section{
    background-color: var(--lightgray);
    padding: 8em 0;
    margin-top: 8em;
    box-shadow: 0 0 0 100vmax var(--lightgray);
    clip-path: inset(0 -100vmax);
} /* credits https://youtu.be/81pnuZFarRw?si=ZvR-AVEEveJ-6JL_ */


.black-section{
    background-color: var(--black);
    padding: 8em 0;
    margin-top: 8em;
    box-shadow: 0 0 0 100vmax var(--black);
    clip-path: inset(0 -100vmax);

    color: var(--white);
}

.black-section h3{
    color: var(--white);
}

.black-section .caption{
    color: var(--white);
}

/********************************************************************
HOME PAGE
********************************************************************/

/***** HERO *****/

/* layout */

#hero{
    max-width: 800px;
    width: 95%;
    margin: auto;
    margin-top: 12rem;
    margin-bottom: 8rem;
        
    animation: transitionIn 400ms;
}

#hero-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
    align-items: center;
}

#hero-txt-main{
   margin-top: 0; 
}

#hero-img > *{
    width: 13rem;
}

.hero-description > p {
    display: inline-block;
    margin-bottom: 0;
}

.hero-hover{
    color: var(--darkgray);
    /* text-decoration: underline solid transparent;
    -webkit-text-decoration: underline solid transparent; safari
    -moz-text-decoration: underline solid transparent; firefox
    -o-text-decoration: underline solid transparent; opera */

    padding-right: 1rem;
    transition: all 150ms;
}

.hero-hover:hover{
    color: var(--black);
    /* text-decoration: underline solid var(--black);
    -webkit-text-decoration: underline solid var(--black); safari
    -moz-text-decoration: underline solid var(--black); firefox
    -o-text-decoration: underline solid var(--black); opera */
    transition: all 150ms;
}


/* hover image display */

.hover-img{
    width: 13rem;
    opacity: 0;
    z-index: 1;
    transition: var(--transition);
}


#watercolor{  
    position: absolute;
}

#scroll{
    position: absolute;
}

#california{
    position: absolute;
}

@media (max-width: 600px) {
    #hero-grid{
        align-items: start;
        gap: 1rem;
    }
    
}

@media (max-width: 400px) {
    #hero{
        margin-bottom: 4rem;
    }

    #hero-grid{
        grid-template-columns: 1fr;
    }

    #hero-img, .hover-img{
        display: none;
    }

    .hero-hover:hover{
        color: var(--darkgray);
        text-decoration: none;
    }
}


/***** SELECTED WORK *****/


.project{
    margin-bottom: 8rem;
}

.project-img{
    border-radius: 1rem;
    pointer-events: auto;
    
    width: 100%;
    vertical-align: top;
    margin: 0;

    transition: var(--transition-slow);
}

.project-img:hover{
    transform: scale(1.016);
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.08);
    transition: var(--transition-slow);
}

/* .project-img-overlay{
    position: relative;
    display: block;
}

.project-img-overlay:after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top:0; left:0;
    border-radius: 1rem;
    background: linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.4) 100%);
    opacity: 0;
    transition: var(--transition-slow);
    -webkit-transition: var(--transition-slow);
}

.project-img-overlay:hover::after{
    opacity: 1;
} */


.project-txt{
    /* display: grid;
    grid-template-columns: 1fr 2.5fr; */
    gap: 3rem;
    align-items: baseline;
    text-decoration: none;
}

.project-txt:hover{
    color: var(--black);
}

.project-title{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.project-description > hr{
    width: 100%;
    margin-top: 3rem;
}


.disabled{
    cursor: not-allowed;
}

.disabled:hover{
    transform: none;
    box-shadow: none;
}


@media (max-width: 400px) {
    .project{
        margin-bottom: 4rem;
    }

    .project-txt{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .project-title > h2{
        margin: 0;
    }

    .project-description > hr{
        display: none;
    }
}





.featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured > a {
    text-decoration: none;
}

.featured > a:hover {
    color: var(--black);
}

.featured > .project{
    margin-bottom: 0;
}

@media (max-width: 600px) { 
    .featured{
        gap: 3rem;
    }
}

@media (max-width: 400px) { 
    .featured{
        grid-template-columns: 1fr;
    }
}


/********************************************************************
WORK (CASE STUDY)
********************************************************************/

/***** LAYOUT *****/

.no-margin{
    margin: 0;
}

.no-top-margin{
    margin-top: 0;
}

.no-bottom-margin{
    margin-bottom: 0;
}

.padding{
    margin-top: 8em;
} /* adds padding to sections */

.margin-add{
    margin: 1.5rem 0;
}

.rounded-border{
    border-radius: 1rem;
}

.border{
    border: 1px solid var(--gray);
    border-radius: 1rem;
}

/***** PROCESS *****/

#process-bar{
    position: sticky;
    top: 1%;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;

    padding: 0.24em 0.1%;
    align-items: baseline;
    margin-bottom: 10rem;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* safari */
    border: 1px solid var(--gray);
    border-radius: 50px;
    
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--darkgray);

    z-index: 99;
    transition: all 150ms;
}

.process-step{
    padding: 0.2% 2%;
    color: var(--darkgray);
    border-radius: 50px;
    text-decoration: none;

    transition: all 150ms;
}

.process-step:hover{
    color: var(--black);
}

.active{
    color: var(--black);
    background-color: rgba(0, 0, 0, 0.16);
    transition: all 150ms;
}

@media (max-width: 600px) {
    #process-bar{
        position: relative;
    }
}

/***** CONTENT *****/

.cs-img{
    display: block;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    clip-path: inset(0 -100vmax);
}

.cs-img.shopsmiles-bg {
    box-shadow: 0 0 0 100vmax var(--shopsmiles);
}

.cs-img.goodnotes-bg {
    box-shadow: 0 0 0 100vmax var(--goodnotes);
}

.cs-img.food52-bg {
    box-shadow: 0 0 0 100vmax var(--food52);
}

.cs-img.gigabrain-bg {
    box-shadow: 0 0 0 100vmax var(--gigabrain);
}

.cs-details{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.cs-overview{
    width: 67%;
}

.cs-logistics{
    display: flex;
    flex-direction: column;
    width: 24%;
}


/* columns */

.grid-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}


@media (max-width: 600px) {
    .column-2{
    }
}



/* GRID */


.grid-column{
    display: flex;
    flex-direction: column;
}

.center-align{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.bubble{
    /* background-color: var(--lightgray); */
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.08);

    width: fit-content;
    height: fit-content;
    padding: 32px 40px;
    border-radius: 1rem;
    margin: 16px 0px;
}

.bubble-icon{
    /* background-color: var(--lightgray); */
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: flex-start;
    padding: 2.5em 3.5em;
    border-radius: 1rem;
    margin: 3rem 0;
    column-gap: 1.5em;

}

.bubble-icon.yellow{
    /* background-color: #FFFAEF; */
    font-size: var(--small-text);
}

.bubble, .bubble-icon > *{
    margin: 0;
}


/***** SHOPSMILES *****/

.cp-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-preview1-text{
    width: 30%;
}

.cp-preview1-img{
    width: 65%;
}

.cp-preview2-text{
    width: 32%;
}

.cp-preview2-img{
    width: 60%;
}

@media (max-width: 600px) {
    .cp-preview{
        flex-direction: column;
        align-items: flex-start;
    }

    .cp-preview1-text, .cp-preview1-img,
    .cp-preview2-text, .cp-preview2-img{
        width: 100%;
    }

    .cp-preview1-text,
    .cp-preview2-text{
        margin-bottom: 1em;
    }

    .cp-preview2-text{
        order: -1
    }
}

/* final designs */

#cp-before-and-after{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.cp-design-system{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 600px) {
    #cp-before-and-after,
    .cp-design-system{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}



/***** GOODNOTES *****/


#gn-confidence-performance{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    background-color: var(--lightgray);
    align-items: flex-start;
    padding: 2.5em;
    border-radius: 1rem;
}

#gn-confidence-performance-icon{
    width: 24%;
}

#gn-confidence-performance-text{
    width: 68%;
}

#gn-research-plan{
    width: 82%;
    min-width: 600px;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
}

#gn-research-plan > * {
    width: 29%;
}

.gn-insight-wrapper{
    display: flex;
    justify-content: space-between;
    
}

.gn-post-it{
    display: inline-block;
    font-size: var(--small-text);
    font-weight: 500;

    width: 24%;
    height: fit-content;
    padding: 2em;

    background: linear-gradient(var(--goodnotes) 20%, #AFD9FF 70%, var(--goodnotes) 90%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
    
}

.gn-insight{
    width: 64%;
}

#gn-efficient{
    rotate: 1deg;
    margin-right: -1em;
    margin-top: -1em;
}

#gn-revising{
    rotate: -2deg;
    margin-left: -1.5em;
}

#gn-longpress{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
}

#gn-remindersold{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

#gn-fd-tags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 600px) {
    #gn-research-plan{
        min-width: 100%;
        width: 100%;
    }

    #gn-longpress{
        grid-template-columns: 1fr;
        gap: 0;
    }
}














/* RESPONSIVE */

@media (max-width: 1000px) {
    html{
        font-size: 14px;
    }
}

@media (max-width: 600px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 400px){
    html{
        font-size: 12px;
    }
}

/* etc. */

#caution{
    margin: 0 auto 1em auto;
    padding: 0.8em;
    font-size: var(--small-text);
    background-color: #ffebc6;
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,235,198,1) 10%, rgba(255,235,198,1) 90%, rgba(255,255,255,0) 100%); */
    font-style: italic;
    text-align: center;
}

/* scroll js

.scroll-down{
    opacity: 0;
}

.scroll-up{

} */




/* about */

#about{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 8%;
}

#about-img-picker{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6%;
}

@media (max-width: 400px) {
    #about{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    #about-img-picker{
        grid-template-columns: 1fr;
    }
    
}

/* img */

#about-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-img-container > * {
    border-radius: 1rem;
}

.about-img{
    display: none;
}

/* text */

.about-text{
    display: none;
}

#about-movie{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.contact{
    width: 2rem;
    pointer-events: auto;
    transition: var(--transition)
}

.contact:hover{
    opacity: 0.5;
    transition: var(--transition)
}

/* selector */

#about-selector-container{
    margin-top: 1.5rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-selector{
    gap: 1rem;
}

#about-selector > * {
    font-size: 2.3rem;
    text-align: center;

    padding: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}

#about-selector > *:hover {
    opacity: 0.6;
    transition: var(--transition);
}

#about-reset{
    color: var(--turquoise);
}


/* where i've been */

#about-where{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

#about-list{
    color: var(--darkgray);
    padding-left: 1.5rem;
}

#about-list >*{
    padding-left: 0.5rem;
}

#about-places{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.about-places-col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 400px) {
    #about-places{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

/* testing */



/* not-work */

body.dark-mode{
    /* color: var(--white); */
    background-color: #9EC2B7;
}