@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../fonts/GmarketSansMedium.otf') format('otf');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/********************************************************************
GENERAL
********************************************************************/


/***** LAYOUT *****/


html{
    scroll-behavior: smooth;
    font-family: "Inter";
}
  
body{
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;
}

li{
    margin-bottom: 0.25em;
}

s{
    color: var(--darkgray);
}

hr{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 6em;
    border: none;
    border-bottom: 1px solid var(--gray);
}

img{
    width: 100%;  
    height: auto;
}


:root{
    /* color */
    --white: #FFFFFF; 
    --black: #2e2e2e;
    --lightgray: #F7F7F7;
    --gray: #E0E0E0; 
    --darkgray: #767676; 
    --shopsmiles: #FF7F79;
    --goodnotes: #C7E4FF;

    /* font-size */
    --small-text: 0.8125rem;
}








/***** NAVIGATION *****/

header{
    position: absolute;
    width: 100%;
    height: fit-content;
    inset: 0;
    z-index: 99;
}

nav{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 2.5em;

    display: flex;
    justify-content: space-between;
    
    font-weight: 700;
}

#nav-item{
    margin-left: 1em;
    text-decoration: none;
    padding-left: 1em;

    font-weight: 400;
}

footer{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--darkgray);
    font-size: var(--small-text);
    margin: auto;
    margin-top: 16em;
    margin-bottom: 4em;
}

#footer-nav{
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 0.5em;
}

#footer-item{
    padding: 0 0.5em;
    text-decoration: none;
}


/***** TEXT *****/

h1{
    /* font-size: 3.8rem; */
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 0.2em;
    line-height: normal;
}

h2{
    font-size: 1.625rem;
    font-weight: 500;
    margin: 1em 0;
    line-height: 1.5;
}

h3{
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--darkgray);
    text-transform: uppercase;
    margin: 3em 0;
}

h4{
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--darkgray);
    margin: 1.25em 0px;
}

p{
    margin: 1em 0;
}

.caption{
    font-size: var(--small-text);
    font-style: italic;
    font-weight: 400;
    color: var(--darkgray);
    margin: 1.23em 0;
}

.pill{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--black);
    padding: 0.3em 1.2em;
    margin: 0.4em 0.3em 0.4em 0;
    border-radius: 50px;
    background-color: #EEEEEE;
    align-self: center;
}

#hero-description{
    margin-top: 0.35em;
    color: var(--darkgray);
}

#desktop{
    display: none;
}

@media (max-width: 600px){
    h1{
        font-size: 2.8rem;
    }

    #desktop{
        display: block;
    }
}

@media (max-width: 400px){
    h1{
        font-size: 2.4rem;
    }

    #hero-description{
        font-size: 1.8rem;
    }
}

/* text color */

.darkgray{
    color: var(--darkgray);
}

.black{
    color: var(--black);
}

.turquoise{
    color: #319A87;
}

.red{
    color: #B30000;
}

.blue{
    color: #1A55AD;
}

/* link */

a{
    color: var(--black);
    transition: 150ms;
}

a:hover, 
a:focus{
    color: rgba(0, 0, 0, 0.5);
    transition: 150ms;
}

.external-link::after{
    content: " ↗";
    font-family: system-ui
}


/***** CONTAINER *****/

.container-wide{
    max-width: 1000px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}

.container-small{
    max-width: 600px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}



/********************************************************************
HOME PAGE
********************************************************************/

/***** HERO *****/

/* layout */

#hero-wrap{
    max-width: 700px;
    width: 95%;
    height: 34em;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
        
    animation: transitionIn 400ms;
}

/* #hero{
    max-width: 35em;
} */

#im-jihyun{
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.herohover{
    color: var(--black);
    text-decoration: underline solid transparent;
    -webkit-text-decoration: underline solid transparent; /* for safari */
    transition: all 150ms;
}

.herohover:hover{
    text-decoration: underline solid var(--black);
    -webkit-text-decoration: underline solid var(--black); /* for safari */
    transition: all 150ms;
}

#hero-previously{
    margin-top: 4em;
    /* width: 55%; */
}

/* hover image display */

.hover-img{
    display: none;
    width: 9.375rem;
    z-index: -99;
}

#watercolor{  
    position: absolute;
    transform: translate(200%, -120%);
}

#hcd{
    position: absolute;
    transform: translate(400%, -170%);
}

#california{
    position: absolute;
    transform: translate(320%, -25%);
}

@media (max-width: 600px) {
    .hover-img{
        opacity: 0;
    }
}

/* scroll */

#scroll-down{
    width: 3em;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: #B3B3B3;
    font-size: 2.5em;
    font-weight: 300;
    text-decoration: none;
    margin-top: 1em;
    animation: transitionIn 400ms;
    transition: 150ms;
}

#scroll-down:hover{
    color: var(--darkgray);
    transition: 150ms;
}


/***** SELECTED WORK *****/

#projects{
    padding-top: 6em;
} /* id for scroll-down */

.project{
    display: flex;
    margin-bottom: 6em;
    justify-content: space-between;
}

.project-card{
    width: 70%;
}

.project-text{
    width: 25%;
}

.project-img{
    transition: 300ms;
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
}

.project-img:hover{
    transition: 300ms;
    transform: translateX(-20px);
    border-radius: 1rem;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
}

@media (max-width: 1000px) {
    .project-card{
        width: 60%;
    }

    .project-text{
        width: 35%;
    }

    .project-img:hover{
        transform: translateY(-8px);
    }
}

@media (max-width: 600px) {
    .project{
        flex-direction: column;
    }

    .project-number{
        margin: 1em 0;
    }

    .project-card,
    .project-text{
        width: 100%;
    }
}



/********************************************************************
WORK (CASE STUDIES)
********************************************************************/

/***** LAYOUT *****/

.no-top-margin{
    margin-top: 0px;
}

.padding{
    margin-top: 6em;
} /* adds padding to sections */

.gray-section{
    background-color: var(--lightgray);
    padding: 6em 0;
    margin-top: 6em;
    box-shadow: 0 0 0 100vmax var(--lightgray);
    clip-path: inset(0 -100vmax);
} /* credits https://youtu.be/81pnuZFarRw?si=ZvR-AVEEveJ-6JL_ */

.margin-add{
    margin: 1.5rem 0;
}

.rounded-border{
    border-radius: 1rem;
}

/***** PROCESS *****/

#process-bar{
    position: sticky;
    top: 1%;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;

    padding: 0.24em 0.1%;
    align-items: baseline;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for safari */
    border: 1px solid var(--gray);
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;
    
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--darkgray);

    z-index: 99;
    transition: all 150ms;
}

.process-step{
    padding: 0.2% 2%;
    color: var(--darkgray);
    border-radius: 50px;
    text-decoration: none;

    transition: all 150ms;
}

.process-step:hover{
    color: var(--black);
}

.active{
    color: var(--black);
    background-color: rgba(0, 0, 0, 0.16);
    transition: all 150ms;
}

.no-margin{
    margin: 0;
}

@media (max-width: 600px) {
    #process-bar{
        position: relative;
    }
}

/***** CONTENT *****/

.cs-img{
    display: block;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    clip-path: inset(0 -100vmax);
}

.cs-img.shopsmiles-bg {
    box-shadow: 0 0 0 100vmax var(--shopsmiles);
}

.cs-img.goodnotes-bg {
    box-shadow: 0 0 0 100vmax var(--goodnotes);
}

.cs-details{
    display: flex;
    justify-content: space-between;
}

.cs-overview{
    width: 67%;
}

.cs-logistics{
    display: flex;
    flex-direction: column;
    width: 24%;
}


/* columns */

.column-2{
    display: flex;
    column-gap: 2rem;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-45{
    width: 45%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

@media (max-width: 600px) {
    .column-2{
        flex-direction: column;
        row-gap: 2rem;
    }

    .col-30, .col-40,
    .col-45, .col-50,
    .col-60{
        width: 100%;
    }
}

.grid-column{
    display: flex;
    flex-direction: column;
}

.center-align{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.bubble-icon{
    background-color: var(--lightgray);
    display: flex;
    align-items: flex-start;
    padding: 2.5em 3.5em;
    border-radius: 1rem;
    margin: 2em 0;
    column-gap: 1.5em;
}

.bubble-icon.yellow{
    background-color: #FFFAEF;
    font-size: var(--small-text);
}

.bubble{
    background-color: var(--lightgray);
    width: fit-content;
    height: fit-content;
    padding: 32px 40px;
    border-radius: 1rem;
    margin: 16px 0px;
}



/***** SHOPSMILES *****/

.cp-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-preview1-text{
    width: 30%;
}

.cp-preview1-img{
    width: 65%;
}

.cp-preview2-text{
    width: 32%;
}

.cp-preview2-img{
    width: 60%;
}

@media (max-width: 600px) {
    .cp-preview{
        flex-direction: column;
        align-items: flex-start;
    }

    .cp-preview1-text, .cp-preview1-img,
    .cp-preview2-text, .cp-preview2-img{
        width: 100%;
    }

    .cp-preview1-text,
    .cp-preview2-text{
        margin-bottom: 1em;
    }

    .cp-preview2-text{
        order: -1
    }
}

/* final designs */

#cp-before-and-after{
    display: flex;
    column-gap: 2em;
}

.cp-final-design-grid{
    display: flex;
}

.cp-final-design-caption{
    width: 20%;
}

.cp-final-design-img{
    width: 70%;
    margin: 1.5rem 0;
}


@media (max-width: 600px) {
    #cp-before-and-after{
        flex-direction: column;
        row-gap: 4em;
    }
    
    .cp-final-design-grid{
        flex-direction: column;
    }

    .cp-final-design-caption,
    .cp-final-design-img{
        width: 100%;
    }
}



/***** GOODNOTES *****/


#gn-confidence-performance{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    background-color: var(--lightgray);
    align-items: flex-start;
    padding: 2.5em;
    border-radius: 1rem;
}

#gn-confidence-performance-icon{
    width: 24%;
}

#gn-confidence-performance-text{
    width: 68%;
}

#gn-research-plan{
    width: 82%;
    min-width: 600px;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
}

#gn-research-plan > * {
    width: 29%;
}

@media (max-width: 600px) {
    #gn-research-plan{
        min-width: 100%;
        width: 100%;
    }
}

.gn-insight-wrapper{
    display: flex;
    justify-content: space-between;
    
}

.gn-post-it{
    display: inline-block;
    font-size: var(--small-text);
    font-weight: 500;

    width: 24%;
    height: fit-content;
    padding: 2em;

    background: linear-gradient(var(--goodnotes) 20%, #AFD9FF 70%, var(--goodnotes) 90%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
    
}

.gn-insight{
    width: 64%;
}

#gn-efficient{
    rotate: 1deg;
    margin-right: -1em;
    margin-top: -2em;
}

#gn-revising{
    rotate: -2deg;
    margin-left: -1em;
}


/* RESPONSIVE */

@media (max-width: 1000px) {
    html{
        font-size: 14px;
    }
}

@media (max-width: 600px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 400px){
    html{
        font-size: 12px;
    }
}

/* etc. */

#caution{
    margin: 0 auto 1em auto;
    padding: 0.8em;
    font-size: var(--small-text);
    background-color: #ffebc6;
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,235,198,1) 10%, rgba(255,235,198,1) 90%, rgba(255,255,255,0) 100%); */
    font-style: italic;
    text-align: center;
}

/* scroll js

.scroll-down{
    opacity: 0;
}

.scroll-up{

} */


/* testing */

#ht{
    height:30em;
    max-width: 700px;
    width: 95%;
    display: block;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    animation: transitionIn 400ms;
}

#tij{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

#hdt{
    margin-top: 0.5em;
    color: var(--darkgray);
}