@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/********************************************************************
GENERAL
********************************************************************/


/* 

highlight 

background-image: linear-gradient(180deg, rgba(255,0,0,0) 40%, #CFEFE4 40%, 
#CFEFE4 90%,rgba(255,0,0,0) 90%);

 */


/***** LAYOUT *****/


html{
    scroll-behavior: smooth;
}
  
body{
    font-family: "Inter";
    color: #2e2e2e;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;
}

li{
    margin-bottom: 0.25em;
}

s{
    color: #767676;
}

hr{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 6em;
    color: #E0E0E0;
    border: 0.8px solid #E0E0E0;
    border-radius: 50px;
}

img{
    width: 100%;  
}


:root{
    --shopsmiles-bg: #FF7F79;
    --goodnotes-bg: #C7E4FF;
}


/***** NAVIGATION *****/

header{
    position: absolute;
    width: 100%;
    height: fit-content;
    inset: 0;
    z-index: 99;
}

nav{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 2.5em;

    display: flex;
    justify-content: space-between;

    font-family: "GmarketSansMedium";
    /* font-size: 0.9rem; */
}

#nav-item{
    font-family: "Inter";
    margin-left: 1em;
    text-decoration: none;
    padding-left: 1em;
}

footer{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #767676;
    font-size: 0.8125rem;
    margin: auto;
    margin-top: 16em;
    margin-bottom: 4em;
}

#footer-nav{
    font-size: 1rem;
    color: #2e2e2e;
    margin-bottom: 0.5em;
}

#footer-item{
    padding: 0 0.5em;
    text-decoration: none;
}


/***** TEXT *****/

h1{
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 0.2em;
    line-height: normal;
}

h2{
    font-size: 1.625rem;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
    line-height: 1.5;
}

h3{
    font-size: 0.8125rem;
    font-weight: 400;
    color: #767676;
    text-transform: uppercase;
    margin: 3em 0;
}

h4{
    font-size: 0.8125rem;
    font-weight: 400;
    color: #767676;
    margin: 1.25em 0px;
}

p{
    margin: 1em 0;
}

.caption{
    font-size: 0.8125rem;
    font-style: italic;
    font-weight: 400;
    color: #767676;
    margin: 1.23em 0;
}

.pill{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 500;
    color:#767676;
    padding: 0.3em 1.2em;
    margin: 0.4em 0.3em 0.4em 0;
    border: 1px solid #767676;
    border-radius: 50px;
    background-color: #F5F5F5;
    align-self: center;
}

#hero-description{
    font-size: 2.3rem;
    font-weight: 500;
    color: #B3B3B3;
    line-height: 1.6;
}

/* button{
   font-size: 1rem; 
   padding: 1em 2em;
   border-radius: 50px;
   border: 1px solid #767676;
   cursor: pointer;
} */

#desktop{
    display: none;
}

@media (max-width: 600px){
    #desktop{
        display: block;
    }
}

@media (max-width: 400px){
    h1{
        font-size: 3rem;
    }

    #hero-description{
        font-size: 1.8rem;
    }
}

/* text color */

.darkgray{
    color: #767676;
}

.black{
    color: #2e2e2e;
}

.turquoise{
    color: #319A87;
}

.red{
    color: #B30000;
}

.blue{
    color: #1A55AD;
}

/* link */

a{
    color: #2e2e2e;
    transition: 150ms;
}

a:hover, 
a:focus{
    /* color: #767676; */
    color: rgba(0, 0, 0, 0.5);
    transition: 150ms;
}

.external-link::after{
    content: " ↗";
    font-family: system-ui
}


/***** CONTAINER *****/

.container-wide{
    max-width: 1000px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}

.container-small{
    max-width: 600px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}



/********************************************************************
HOME PAGE
********************************************************************/

/***** HERO *****/

/* layout */

#hero-wrap{
    max-width: 1000px;
    width: 95%;
    height: 38em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
        
    animation: transitionIn 400ms;
}

#hero{
    max-width: 35em;
}

.herohover{
    color: #767676;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #B3B3B3;
    text-underline-offset: 0.16em;
    transition: 150ms;
}

.herohover:hover{
    color: #2e2e2e;
    text-decoration-color: #767676;
    transition: 150ms;
}



#hero-recently{
    width: 26.25em;
    margin-top: 5em;
}

/* hover image display */

.hover-img{
    position: relative;
    top: 45%;
    left: 65%;
    display: none;
    z-index: -99;
}

#watercolor{
    width: 16.25em;
}

#hcd{
    width: 17.5em;
}

#california{
    width: 14.375em;
}

@media (max-width: 1000px) {
    .hover-img{
        top: 40%;
        left: 60%;
    }
}

/* scroll */

#scroll-down{
    width: 3em;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: #B3B3B3;
    font-size: 2.5em;
    font-weight: 300;
    text-decoration: none;
    margin-top: 1em;
    animation: transitionIn 400ms;
    transition: 150ms;
}

#scroll-down:hover{
    color: #767676;
    transition: 150ms;
}


/***** SELECTED WORK *****/

#projects{
    padding-top: 6em;
} /* id for scroll-down */

.project{
    display: flex;
    margin-bottom: 6em;
    justify-content: space-between;
}

.project-card{
    width: 70%;
}

.project-text{
    width: 25%;
}

.project-img{
    transition: 300ms;
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
}

.project-img:hover{
    transition: 300ms;
    transform: translateX(-20px);
    border-radius: 1rem;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16) ;
}

@media (max-width: 1000px) {
    .project-img:hover{
        transform: translateY(-8px);
    }
}

@media (max-width: 600px) {
    .project{
        flex-direction: column;
    }

    .project-number{
        margin: 1em 0;
    }

    .project-card,
    .project-text{
        width: 100%;
    }
}



/********************************************************************
WORK (CASE STUDIES)
********************************************************************/

/***** LAYOUT *****/

.no-top-margin{
    margin-top: 0px;
}

.padding{
    margin-top: 6em;
} /* adds padding to sections */

.gray-section{
    background-color: #F7F7F7;
    padding: 6em 0;
    margin-top: 6em;
    box-shadow: 0 0 0 100vmax #F7F7F7;
    clip-path: inset(0 -100vmax);
} /* credits https://youtu.be/81pnuZFarRw?si=ZvR-AVEEveJ-6JL_ */

.margin-add{
    margin: 1.5rem 0;
}

.rounded-border{
    border-radius: 1rem;
}

/* .highlight-red{
    background-image: linear-gradient(180deg, rgba(255,0,0,0) 40%, #FFDAD9 40%, 
    #FFDAD9 90%,rgba(255,0,0,0) 90%);
} */




/***** CONTENT *****/

.cs-img{
    display: block;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 0 100vmax #E0E0E0;
    clip-path: inset(0 -100vmax);
}

.cs-img.shopsmiles-bg {
    box-shadow: 0 0 0 100vmax var(--shopsmiles-bg);
}

.cs-img.goodnotes-bg {
    box-shadow: 0 0 0 100vmax var(--goodnotes-bg);
}

.cs-details{
    display: flex;
    justify-content: space-between;
}

.cs-overview{
    width: 67%;
}

.cs-logistics{
    display: flex;
    flex-direction: column;
    width: 24%;
}

#process-bar{
    position: sticky;
    top: 1%;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;

    padding: 0.1%;
    align-items: baseline;

    backdrop-filter: blur(10px);
    border: 1px solid #E0E0E0;
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;
    
    font-size: 0.8125rem;
    font-weight: 400;
    color: #767676;

    z-index: 99;
    transition: all 150ms ease-in-out;
}

.process-step{
    padding: 0.2% 2%;
    color: #767676;
    border-radius: 50px;
    text-decoration: none;

    transition: all 150ms ease-in-out;
}

.process-step:hover{
    color: #2e2e2e;
}

.active{
    color: #2e2e2e;
    background-color: rgba(0, 0, 0, 0.16);
    transition: all 150ms ease-in-out;
}

.no-margin{
    margin: 0;
}

@media (max-width: 600px) {
    #process-bar{
        position: relative;
    }
}


/* columns */

.column-2{
    display: flex;
    column-gap: 2rem;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-45{
    width: 45%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

@media (max-width: 600px) {
    .column-2{
        flex-direction: column;
        row-gap: 2rem;
    }

    .col-30, .col-40,
    .col-45, .col-50,
    .col-60{
        width: 100%;
    }
}

.grid-column{
    display: flex;
    flex-direction: column;
}

.center-align{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.bubble-icon{
    background-color: #F7F7F7;
    display: flex;
    align-items: flex-start;
    padding: 2.5em 3.5em;
    border-radius: 1rem;
    margin: 2em 0;
    column-gap: 1.5em;
}

.bubble-icon.yellow{
    background-color: #FFFAEF;
    font-size: 0.8125rem;
}

.bubble{
    background-color: #F7F7F7;
    width: fit-content;
    height: fit-content;
    padding: 32px 40px;
    border-radius: 1rem;
    margin: 16px 0px;
}



/***** SHOPSMILES *****/

.cp-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-preview1-text{
    width: 30%;
}

.cp-preview1-img{
    width: 65%;
}

.cp-preview2-text{
    width: 32%;
}

.cp-preview2-img{
    width: 60%;
}

@media (max-width: 600px) {
    .cp-preview{
        flex-direction: column;
        align-items: flex-start;
    }

    .cp-preview1-text, .cp-preview1-img,
    .cp-preview2-text, .cp-preview2-img{
        width: 100%;
    }

    .cp-preview1-text,
    .cp-preview2-text{
        margin-bottom: 1em;
    }

    .cp-preview2-text{
        order: -1
    }
}

/* final designs */

#cp-before-and-after{
    display: flex;
    column-gap: 2em;
}

.cp-final-design-grid{
    display: flex;
}

.cp-final-design-caption{
    width: 20%;
}

.cp-final-design-img{
    width: 70%;
    margin: 1.5rem 0;
}


@media (max-width: 600px) {
    #cp-before-and-after{
        flex-direction: column;
        row-gap: 4em;
    }
    
    .cp-final-design-grid{
        flex-direction: column;
    }

    .cp-final-design-caption,
    .cp-final-design-img{
        width: 100%;
    }
}



/***** GOODNOTES *****/


#gn-confidence-performance{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    background-color: #F7F7F7;
    align-items: flex-start;
    padding: 2.5em;
    border-radius: 1rem;
}

#gn-confidence-performance-icon{
    width: 24%;
}

#gn-confidence-performance-text{
    width: 68%;
}

#gn-research-plan{
    width: 82%;
    min-width: 600px;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
}

#gn-research-plan > * {
    width: 29%;
}

@media (max-width: 600px) {
    #gn-research-plan{
        min-width: 100%;
        width: 100%;
    }
}


/* RESPONSIVE */

@media (max-width: 1000px) {
    html{
        font-size: 14px;
    }
}

@media (max-width: 600px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 400px){
    html{
        font-size: 12px;
    }
}

/* etc. */

#caution{
    margin: 0 auto 1em auto;
    padding: 0.8em;
    font-size: 0.8125rem;
    background-color: #ffebc6;
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,235,198,1) 10%, rgba(255,235,198,1) 90%, rgba(255,255,255,0) 100%); */
    font-style: italic;
    text-align: center;
}

/* scroll js

.scroll-down{
    opacity: 0;
}

.scroll-up{

} */


/* testing */

#ht{
    height:70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#tij{
    width: 30%;
}

#hdt{
    width: 50%;
}