@font-face {
    font-family: "GmarketSansMedium";
    src: url("../fonts/GmarketSansMedium.otf");
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/********************************************************************
GENERAL
********************************************************************/


/* 

highlight 

background-image: linear-gradient(180deg, rgba(255,0,0,0) 40%, #CFEFE4 40%, 
#CFEFE4 90%,rgba(255,0,0,0) 90%);

 */


/***** LAYOUT *****/

html{
    scroll-behavior: smooth;
}
  
body{
    font-family: "Inter";
    color: #2e2e2e;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;
}

li{
    margin-bottom: 0.25em;
}

s{
    color: #767676;
}

hr{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 6em;
    color: #E0E0E0;
    border: 0.8px solid #E0E0E0;
    border-radius: 50px;
}

img{
    width: 100%;  
}


/***** NAVIGATION *****/

nav{
    font-family: "GmarketSansMedium";
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 95%;
    margin: auto;
    margin-top: 2.5em;
}

#nav-item{
    font-family: "Inter";
    margin-left: 2.5em;
    text-decoration: none;
    padding-left: 1em;
}

footer{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #767676;
    font-size: 0.8125rem;
    margin: auto;
    margin-top: 16em;
    margin-bottom: 4em;
}

#footer-nav{
    font-size: 1rem;
    color: #2e2e2e;
    margin-bottom: 0.5em;
}

#footer-item{
    padding: 0 0.5em;
    text-decoration: none;
}


/***** TEXT *****/

h1{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0px;
}

h2{
    font-size: 1.625rem;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
    line-height: 1.5;
}

h3{
    font-size: 0.8125rem;
    font-weight: 400;
    color: #767676;
    text-transform: uppercase;
    margin: 2em 0;
}

h4{
    font-size: 0.8125rem;
    font-weight: 400;
    color: #767676;
    margin: 1.25em 0px;
}

p{
    margin: 1em 0;
}

.caption{
    font-size: 0.8125rem;
    font-style: italic;
    font-weight: 400;
    color: #767676;
    margin: 1.23em 0;
}

.pill{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 500;
    color:#767676;
    padding: 0.3em 1.2em;
    margin: 0.4em 0.3em 0.4em 0;
    border: 1px solid #767676;
    border-radius: 50px;
    background-color: #F5F5F5;
}

/* button{
   font-size: 1rem; 
   padding: 1em 2em;
   border-radius: 50px;
   border: 1px solid #767676;
   cursor: pointer;
} */

/* text color */

.darkgray{
    color: #767676;
}

.black{
    color: #2e2e2e;
}

.turquoise{
    color: #319A87;
}

.red{
    color: #B30000;
}

.blue{
    color: #1A55AD;
}

/* link */

a{
    color: #2e2e2e;
    transition: 150ms;
}

a:hover, 
a:focus{
    color: #767676;
    transition: 150ms;
}

.external-link::after{
    content: " ↗";
    font-family: system-ui
}


/***** CONTAINER *****/

.container-wide{
    max-width: 1000px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}

.container-small{
    max-width: 600px;
    width: 95%;
    display: block;
    margin: 0 auto;
    animation: transitionIn 400ms;
}



/********************************************************************
HOME PAGE
********************************************************************/

/***** HERO *****/

/* layout */

#hero{
    width: 28em;
}

#hero-wrap{
    max-width: 1000px;
    width: 95%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    animation: transitionIn 400ms;
}

@media (max-width: 600px) {
    #hero-wrap{
        height: 50vh;
    }
}

.herohover{
    color: #2e2e2e;
    text-decoration: underline;
    transition: 150ms;
}

.herohover:hover{
    color: #767676;
    transition: 150ms;
}

#hero-recently{
    width: 26.25em;
    margin-top: 2em;
}

/* hover image display */

.hover-img{
    position: relative;
    top: 30%;
    left: 60%;
    display: none;
}

#watercolor{
    width: 16.25em;
}

#hcd{
    width: 17.5em;
}

#california{
    width: 12.5em;
}

@media (max-width: 1000px) {
    .hover-img{
        top: 8%;
        left: 56%;
    }
}

/* scroll */

#scroll-down{
    width: 3em;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: #BDBDBD;
    font-size: 2.5em;
    font-weight: 300;
    text-decoration: none;
    margin-top: 1em;
    animation: transitionIn 400ms;
    transition: 150ms;
}

#scroll-down:hover{
    color: #767676;
    transition: 150ms;
}


/***** SELECTED WORK *****/

#projects{
    padding-top: 6em;
} /* id for scroll-down */

.project{
    display: flex;
    margin-bottom: 4em;
    justify-content: space-between;
}

.project-card{
    width: 70%;
}

.project-text{
    width: 25%;
}

.project-img{
    transition: 300ms;
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
}

.project-img:hover{
    transition: 300ms;
    transform: translateX(-20px);
    border-radius: 1rem;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16) ;
}

@media (max-width: 1000px) {
    .project-img:hover{
        transform: translateY(-8px);
    }
}

@media (max-width: 600px) {
    .project{
        flex-direction: column;
    }

    .project-number{
        margin: 1em 0;
    }

    .project-card,
    .project-text{
        width: 100%;
    }
}



/********************************************************************
WORK (CASE STUDIES)
********************************************************************/

/***** LAYOUT *****/

.no-top-margin{
    margin-top: 0px;
}

.padding{
    margin-top: 6em;
} /* adds padding to sections */

.gray-section{
    background-color: #F7F7F7;
    padding: 6em 0;
    margin-top: 6em;
}

.margin-add{
    margin: 1.5rem 0;
}

.rounded-border{
    border-radius: 1rem;
}

/* .highlight-red{
    background-image: linear-gradient(180deg, rgba(255,0,0,0) 40%, #FFDAD9 40%, 
    #FFDAD9 90%,rgba(255,0,0,0) 90%);
} */




/***** CONTENT *****/

.case-study-img{
    margin: 1em 0;
    border-radius: 1em;
}

.case-study-overview-grid{
    display: flex;
    justify-content: space-between;
}

.case-study-overview{
    width: 52%;
}

.overview-column-grid{
    display: flex;
    column-gap: 2em;
    width: 40%;
}

.overview-column{
    width: 50%;
}

@media (max-width: 600px) {
    .case-study-overview-grid{
        flex-direction: column;
    }

    .case-study-overview,
    .overview-column,
    .overview-column-grid{
        width: 100%;
    }
}

.process-link{
    font-style: italic;
    /* text-decoration: none; */
    display: block;
    margin-top: 1em;
}

.process-link::after{
    content: " ↩︎";
}

.crumb{
    font-style: italic;
    font-weight: 500;
    display: flex;
    column-gap: 0.5em;
    margin-bottom: 5em;
}

.crumb::before{
    content: "#";
}

.crumb-link{
    text-decoration: none;
}

.crumb-link:hover{
    color: #2e2e2e;
}

.current{
    text-decoration: underline;
}


/* columns */

.column-2{
    display: flex;
    column-gap: 2rem;
}

.col-40{
    width: 40%;
}

.col-45{
    width: 45%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

@media (max-width: 600px) {
    .column-2{
        flex-direction: column;
        row-gap: 2rem;
    }

    .col-40,
    .col-45, .col-50,
    .col-60{
        width: 100%;
    }
}

.grid-column{
    display: flex;
    flex-direction: column;
}

.jump{
    text-decoration: underline;
    align-items: center;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

.center-align{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.bubble-icon{
    background-color: #F7F7F7;
    display: flex;
    align-items: flex-start;
    padding: 2.5em 3.5em;
    border-radius: 1rem;
    margin: 2em 0;
    column-gap: 1.5em;
}

.bubble-icon.yellow{
    background-color: #FFFAEF;
    font-size: 0.8125rem;
}

.bubble{
    background-color: #F7F7F7;
    width: fit-content;
    height: fit-content;
    padding: 32px 40px;
    border-radius: 1rem;
    margin: 16px 0px;
}


/***** SHOPSMILES *****/

.cp-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-preview1-text{
    width: 30%;
}

.cp-preview1-img{
    width: 65%;
}

.cp-preview2-text{
    width: 32%;
}

.cp-preview2-img{
    width: 60%;
}

@media (max-width: 600px) {
    .cp-preview{
        flex-direction: column;
        align-items: flex-start;
    }

    .cp-preview1-text, .cp-preview1-img,
    .cp-preview2-text, .cp-preview2-img{
        width: 100%;
    }

    .cp-preview1-text,
    .cp-preview2-text{
        margin-bottom: 1em;
    }

    .cp-preview2-text{
        order: -1
    }
}



/* final designs */

#cp-before-and-after{
    display: flex;
    column-gap: 2em;
}

.cp-final-design-grid{
    display: flex;
}

.cp-final-design-caption{
    width: 20%;
}

.cp-final-design-img{
    width: 70%;
    margin: 1.5rem 0;
}


@media (max-width: 600px) {
    #cp-before-and-after{
        flex-direction: column;
        row-gap: 4em;
    }
    
    .cp-final-design-grid{
        flex-direction: column;
    }

    .cp-final-design-caption,
    .cp-final-design-img{
        width: 100%;
    }
}



/***** GOODNOTES *****/


/* RESPONSIVE */

@media (max-width: 1000px) {
    html{
        font-size: 14px;
    }
}

@media (max-width: 600px){
    html{
        font-size: 13px;
    }
}

/* etc. */

#caution{
    padding: 8px;
    font-size: 0.8125rem;
    background-color: #FFEBC6;
    font-style: italic;
    text-align: center;
}