@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Regular.woff') format('woff'),
         url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Light.woff') format('woff'),
         url('../fonts/ClashDisplay-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }

body{
    width: 1024px;
    background-color: #202020;
    color: #f2f2f2;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'ClashDisplay-Light';
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
}

.nav-item{
   margin: 0px 24px;
   color: #FBEA85;
   font-size: 14px;
   transition: 100ms;
}

.nav-item:hover{
    color: #6C632C;
    transition: 100ms;
}

#logo{
    margin-right: 87.62px;
}

.button{
    padding: 8px 24px;
    outline: 1px solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #FBEA85;
    font-size: 14px;
    transition: 100ms;
}

.button:hover{
    outline: 1px solid #6C632C;
    background-color: #6C632C;
    color: #202020;
    transition: 100ms;
}

h1{
    font-size: 64px;
    color: #FBEA85;
    margin-bottom: 24px;
    font-family: 'ClashDisplay-Regular';
}

h2{
    font-size: 32px;
    color: #D56343;
    margin-top: 136px;
    font-family: 'ClashDisplay-Regular';
}

h3{
    font-size: 20px;
    color: #FBEA85;
    margin: 8px 0px;
    font-family: 'ClashDisplay-Regular';
}

p{
    margin: 8px 0px;
}

.red{
    color: #D56343;
    font-family: 'ClashDisplay-Regular';
}

.underline{
    text-decoration: underline;
}

.hero{
    display: flex;
    margin: 88px 0px 200px 0px;
    justify-content: space-evenly;
}

.hero-text{
    width: 456px;
}

.hero-description{
    width: 272px;
}

#arrow{
    position: relative;
    top: 32px;
    left: 75%;
}

.menu-description{
    width: 624px;
}

.menu-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.menu-item{
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-picture{
    margin: 16px 0px;
    width: 176px;
}

.menu-text{
    height: 72px;
}

.contact{
    display: flex;
    justify-content: center;
    margin-top: 240px;
    font-size: 14px;
}